/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family: Microsoft YaHei;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #fff;
  padding-right: 0 !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  /*color: #7e8c8d;*/
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/*::-webkit-scrollbar {*/
/*width: 5px;*/
/*height: 5px;*/
/*}*/

/*::-webkit-scrollbar-track-piece {*/
/*background-color: rgba(0, 0, 0, 0.2);*/
/*-webkit-border-radius: 6px;*/
/*}*/

/*::-webkit-scrollbar-thumb:vertical {*/
/*height: 5px;*/
/*background-color: rgba(125, 125, 125, 0.7);*/
/*-webkit-border-radius: 6px;*/
/*}*/

/*::-webkit-scrollbar-thumb:horizontal {*/
/*width: 5px;*/
/*background-color: rgba(125, 125, 125, 0.7);*/
/*-webkit-border-radius: 6px;*/
/*}*/

html, body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #eee;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin-top: -3px;
}

.data_null {
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
  background: #ffffff;
  margin: 30px auto;
}

.m_data_null {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  background: #ffffff;
  margin: 0 auto 30px;
}
